*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    font-family: 'Nunito', sans-serif;
    font-size: 1.2rem;
}

.container{
    max-width: 1120px;
    margin: 0 auto;
    margin-top: 25rem;
}

.row{
    display: flex;
}

[class*="col"]{
    color: white;
    padding: 2rem;
    border: 1px solid black;
    text-align: center;
    flex: 0 0 auto;
}

[class*="lgrey-bg"]{
    background-color: #9f9f9f;
}

[class*="dgrey-bg"]{
    background-color: #1f1e1f;
}

[class*="ngrey-bg"]{
    background-color: #313131;
}

[class*="orange-bg"]{
    background-color: #f69806;
}

.b-text{
    color: black;
}


@media screen and (max-width: 992px) {


    [class*="col"]{
        color: white;
        padding: 1rem;
        border-radius: 30%;
        border-style: none;
        text-align: center;
        flex: 0 0 auto;
        margin: .2rem;
    }

    .container{
        margin-top: 30rem;
    }

}


@media screen and (max-width: 768px) {
    [class*="dgrey-bg"]{
        display: none;
    }

    .container{
        margin-top: 25rem;
    }

    [class*="col"]{
        color: white;
        padding: 2rem;
        border-style: none;
        text-align: center;
        flex: 0 0 auto;
    }

    .col-md-1{
        flex-basis: calc((100% / 12) * 1);
        max-width: calc((100% / 12) * 1);
    }

    .col-md-2{
        flex-basis: calc((100% / 12) * 2);
        max-width: calc((100% / 12) * 2);
    }
}


@media screen and (max-width: 576px) {
    [class*="dgrey-bg"]{
        display: none;
    }

    body{
        font-size: 1.9rem;
    }

    .container{
        margin-top: 25rem;
    }

    [class*="col"]{
        color: white;
        padding: 2rem;
        border-style: none;
        border-radius: 50%;
        text-align: center;
        flex: 0 0 auto;
    }


}

@media screen and (max-width: 480px) {
    [class*="dgrey-bg"]{
        display: none;
    }

    body{
        font-size: 1.7rem;
    }

    .container{
        margin-top: 30rem;
        min-width: 310px;
    }

    [class*="col"]{
        color: white;
        padding: 1rem;
        border-style: none;
        border-radius: 50%;
        text-align: center;
        flex: 0 0 auto;
    }

}